.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 34px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100vh;
}

.navigation-bar__container {
  height: auto;
  padding: 0;
}

.navigation-bar__menu {
  width: 216px;
  height: 100vh;
  text-align: center;
  border-right: 1px solid #c4c4c4;
}

.navigation-bar__menu-item {
  height: 56px;
  background-color: transparent;
  font-size: 16px;
  line-height: 56px;
  margin: auto;
  padding: 0;
}

.navigation-bar__menu-item--active {
  background-color: #FF9800;
  opacity: 0.2;
  border-left-color: #FF9800;
  border-left-width: 3px;
  border-left-style: solid;
}

.navigation-bar__menu-item:hover {
  background-color: #FF9800;
  opacity: 0.2;
  color: black;
  border-left-color: #FF9800;
  border-left-width: 3px;
  border-left-style: solid;
}

.navigation-bar__menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  height: 80px;
  padding: 0 26px;
}

.navigation-bar__menu-header-image {
  width: 24px;
  height: 24px;
}

.navigation-bar__menu-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.navigation-bar__menu-footer {
  margin-top: 100px;
}

.content__container {
  width: 1224px;
  height: 244px;
  background-color: #FFFFFF;
  padding: 24px 48px;
  margin-top: 60px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.content__header {
  font-size: 36px;
}

.content-item__header {
  font-size: 16px;
  line-height: 19px;
}

.content-item {
  display: flex;
  flex-direction: column;
  /* height: 43px; */
}

.content-item__title {
  font-size: 14px;
  line-height: 16px;
}

.settings-button {
  width: 176px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #FF9800;
  color: #FF9800;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-10 {
  margin-right: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.text-warning {
  color: #FF9800;
  opacity: 0.8;
}

.text-dark {
  color: #282F4A;
  opacity: 0.8;
}

.text-grey {
  color:  #7A7B82;
}

.text-bold {
  font-weight: 500;
}

.col-3 {
  width: 25%;
}


